
.title{
margin-top: 60px;
}

h1 {
    color: white;
    font-size: 40px;
    font-family: "verdana";
    text-align: center;
    text-decoration: underline;
}

*{margin: 0px; padding: 0px;}
body{background: grey;}
#header{width:100%;
  height: 80px;
  background: black;}
#navbar{width:360px;
  height: 80px;
  box-shadow: 0px 2px 4px white;
}
#navbar>li{width:88px;
List-style: none;
float: left;
border-right:1px solid white;
border-left:1px solid white;
}
li>a{display: block;
color: white;
line-height: 80px;
text-align: center;
font-family: 'railway' , sans-serif;
font-size: 9px;
text-decoration: none;}
/*slideshow styling*/
.css-slider {
  position: relative;
  margin-top: 60px;
}
.placeHolder{
  margin-top: 60px;
  width: 100%;
  visibility: hidden;
}
.layer1, .layer2, .layer3 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-size: cover;
  background-repeat: no-repeat;
}
.layer1 {
  background-image: url(../Images/css-slider/slide1.jpg);
}
.layer2 {
  background-image: url(../Images/css-slider/slide2.jpg);
  animation: layer2Anim 10s infinite;
}
.layer3 {
  background-image: url(../Images/css-slider/slide3.jpg);
  animation: layer3Anim 10s infinite;
}
/*-------keyframes-------*/
@keyframes layer2anim {
  0%{
    top: 5px;
  }
  50%{
    top: 100px;
}
}

@media screen and (min-width: 400px)
{
  h1 {
      color: white;
      text-align: center;
  }
  body{background: grey;}

  #header{width:100%;
    height: 80px;
    background: black;}
  #navbar{width:420px;
    height: 80px;
    float: left;
    box-shadow: 0px 2px 4px white;
  }
  #navbar>li{width:100px;
  List-style: none;
  float: left;
  border-right:1px solid white;
  border-left:1px solid white;
  }
  li>a{display: block;
  color: white;
  line-height: 80px;
  text-align: center;
  font-family: 'railway' , sans-serif;
  font-size: 8px;
  text-decoration: none;}
  li>a:hover,
  li>a:focus{background: red; color:black;}
  }
  /* Three columns side by side */
.column {
    margin-top: 40px;
    float: left;
    width: 31.6%;
    margin-bottom: 16px;
    padding: 0 10px;
}
h2 {
    color: white;
    font-size: 15px;
    font-family: "verdana";
    text-align: center;
}

/* Display the columns below each other instead of side by side on small screens */
@media (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
}

/* Added shadows to create a card effect */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Some left and right padding inside the container */
.container {
    padding: 0 16px;
}

/* Clear floats */
.container::after, .row::after {
    content: "";
    clear: both;
    display: table;
}

/*button styling*/
.button {
    border: solid white;
    outline: 0;
    display: inline-block;
    padding: 9px;
    color: white;
    background-color: black;
    text-align: center;
    cursor: pointer;
    width: 93%;
    margin-top: 30px;
    text-decoration: none;
}

.button:hover {
    background-color: red;
}

/*breakpoints*/
  @media screen and (min-width: 500px)
  {
    h1 {
        color: white;
        text-align: center;
    }
    body{background: grey;}

    #header{width:100%;
      height: 80px;
      background: black;}
    #navbar{width:530px;
      height: 80px;
      float: left;
      box-shadow: 0px 2px 4px white;
    }
    #navbar>li{width:130px;
    List-style: none;
    float: left;
    border-right:1px solid white;
    border-left:1px solid white;
    }
    li>a{display: block;
    color: white;
    line-height: 80px;
    text-align: center;
    font-family: 'railway' , sans-serif;
    font-size: 8px;
    text-decoration: none;}
    li>a:hover,
    li>a:focus{background: red; color:black;}
    }
    @media screen and (min-width: 600px)
    {
      h1 {
          color: white;
          text-align: center;
      }
      body{background: grey;}

      #header{width:100%;
        height: 80px;
        background: black;}
      #navbar{width:600px;
        height: 80px;
        float: left;
        box-shadow: 0px 2px 4px white;
      }
      #navbar>li{width:140px;
      List-style: none;
      float: left;
      border-right:1px solid white;
      border-left:1px solid white;
      }
      li>a{display: block;
      color: white;
      line-height: 80px;
      text-align: center;
      font-family: 'railway' , sans-serif;
      font-size: 12px;
      text-decoration: none;}
      li>a:hover,
      li>a:focus{background: red; color:black;}
      }

    @media screen and (min-width: 700px)
    {
      h1 {
          color: white;
          text-align: center;
      }
      body{background: grey;}

      #header{width:100%;
        height: 80px;
        background: black;}
      #navbar{width:700px;
        height: 80px;
        float: left;
        box-shadow: 0px 2px 4px white;
      }
      #navbar>li{width:170px;
      List-style: none;
      float: left;
      border-right:1px solid white;
      border-left:1px solid white;
      }
      li>a{display: block;
      color: white;
      line-height: 80px;
      text-align: center;
      font-family: 'railway' , sans-serif;
      font-size: 12px;
      text-decoration: none;}
      li>a:hover,
      li>a:focus{background: red; color:black;}
      }
@media screen and (min-width: 800px)
{
  h1 {
      color: white;
      text-align: center;
  }
  body{background: grey;}

  #header{width:100%;
    height: 80px;
    background: black;}
  #navbar{width:800px;
    height: 80px;
    float: left;
    box-shadow: 0px 2px 4px white;
  }
  #navbar>li{width:195px;
  List-style: none;
  float: left;
  border-right:1px solid white;
  border-left:1px solid white;
  }
  li>a{display: block;
  color: white;
  line-height: 80px;
  text-align: center;
  font-family: 'railway' , sans-serif;
  font-size: 15px;
  text-decoration: none;}
  li>a:hover,
  li>a:focus{background: red; color:black;}
  }
  @media screen and (min-width: 900px)
  {
    h1 {
        color: white;
        text-align: center;
    }
    body{background: grey;}

    #header{width:100%;
      height: 80px;
      background: black;}
    #navbar{width:890px;
      height: 80px;
      float: left;
      box-shadow: 0px 2px 4px white;
    }
    #navbar>li{width:220px;
    List-style: none;
    float: left;
    border-right:1px solid white;
    border-left:1px solid white;
    }
    li>a{display: block;
    color: white;
    line-height: 80px;
    text-align: center;
    font-family: 'railway' , sans-serif;
    font-size: 15px;
    text-decoration: none;}
    li>a:hover,
    li>a:focus{background: red; color:black;}
    }
    @media screen and (min-width: 1000px)
    {
      h1 {
          color: white;
          text-align: center;
      }
      body{background: grey;}

      #header{width:100%;
        height: 80px;
        background: black;}
      #navbar{width:950px;
        height: 80px;
        float: left;
        box-shadow: 0px 2px 4px white;
      }
      #navbar>li{width:235px;
      List-style: none;
      float: left;
      border-right:1px solid white;
      border-left:1px solid white;
      }
      li>a{display: block;
      color: white;
      line-height: 80px;
      text-align: center;
      font-family: 'railway' , sans-serif;
      font-size: 18px;
      text-decoration: none;}
      li>a:hover,
      li>a:focus{background: red; color:black;}
      }
      @media screen and (min-width: 1100px)
      {
        h1 {
            color: white;
            text-align: center;
        }
        body{background: grey;}

        #header{width:100%;
          height: 80px;
          background: black;}
        #navbar{width:1100px;
          height: 80px;
          float: left;
          box-shadow: 0px 2px 4px white;
        }
        #navbar>li{width:273px;
        List-style: none;
        float: left;
        border-right:1px solid white;
        border-left:1px solid white;
        }
        li>a{display: block;
        color: white;
        line-height: 80px;
        text-align: center;
        font-family: 'railway' , sans-serif;
        font-size: 18px;
        text-decoration: none;}
        li>a:hover,
        li>a:focus{background: red; color:black;}
        }
        @media screen and (min-width: 1200px)
        {
          h1 {
              color: white;
              text-align: center;
          }
          body{background: grey;}

          #header{width:100%;
            height: 80px;
            background: black;}
          #navbar{width:1200px;
            height: 80px;
            float: left;
            box-shadow: 0px 2px 4px white;
          }
          #navbar>li{width:297px;
          List-style: none;
          float: left;
          border-right:1px solid white;
          border-left:1px solid white;
          }
          li>a{display: block;
          color: white;
          line-height: 80px;
          text-align: center;
          font-family: 'railway' , sans-serif;
          font-size: 18px;
          text-decoration: none;}
          li>a:hover,
          li>a:focus{background: red; color:black;}
          }
          @media screen and (min-width: 1280px)
          {
            h1 {
                color: white;
                text-align: center;
            }
            body{background: grey;}

            #header{width:100%;
              height: 80px;
              background: black;}
            #navbar{width:1280px;
              height: 80px;
              float: left;
              box-shadow: 0px 2px 4px white;
            }
            #navbar>li{width:318px;
            List-style: none;
            float: left;
            border-right:1px solid white;
            border-left:1px solid white;
            }
            li>a{display: block;
            color: white;
            line-height: 80px;
            text-align: center;
            font-family: 'railway' , sans-serif;
            font-size: 18px;
            text-decoration: none;}
            li>a:hover,
            li>a:focus{background: red; color:black;}
            }
          @media screen and (min-width: 1300px)
          {
            h1 {
                color: white;
                text-align: center;
            }
            body{background: grey;}

            #header{width:100%;
              height: 80px;
              background: black;}
            #navbar{width:1300px;
              height: 80px;
              float: left;
              box-shadow: 0px 2px 4px white;
            }
            #navbar>li{width:323px;
            List-style: none;
            float: left;
            border-right:1px solid white;
            border-left:1px solid white;
            }
            li>a{display: block;
            color: white;
            line-height: 80px;
            text-align: center;
            font-family: 'railway' , sans-serif;
            font-size: 18px;
            text-decoration: none;}
            li>a:hover,
            li>a:focus{background: red; color:black;}
            }
            @media screen and (min-width: 1400px)
            {
              h1 {
                  color: white;
                  text-align: center;
              }
              body{background: grey;}

              #header{width:100%;
                height: 80px;
                background: black;}
              #navbar{width:1400px;
                height: 80px;
                float: left;
                box-shadow: 0px 2px 4px white;
              }
              #navbar>li{width:348px;
              List-style: none;
              float: left;
              border-right:1px solid white;
              border-left:1px solid white;
              }
              li>a{display: block;
              color: white;
              line-height: 80px;
              text-align: center;
              font-family: 'railway' , sans-serif;
              font-size: 18px;
              text-decoration: none;}
              li>a:hover,
              li>a:focus{background: red; color:black;}
              }
              @media screen and (min-width: 1500px)
              {
                h1 {
                    color: white;
                    text-align: center;
                }
                body{background: grey;}

                #header{width:100%;
                  height: 80px;
                  background: black;}
                #navbar{width:1500px;
                  height: 80px;
                  float: left;
                  box-shadow: 0px 2px 4px white;
                }
                #navbar>li{width:373px;
                List-style: none;
                float: left;
                border-right:1px solid white;
                border-left:1px solid white;
                }
                li>a{display: block;
                color: white;
                line-height: 80px;
                text-align: center;
                font-family: 'railway' , sans-serif;
                font-size: 20px;
                text-decoration: none;}
                li>a:hover,
                li>a:focus{background: red; color:black;}
                }
                            /*-------KEYFRAMES-------*/
                            @keyframes layer2Anim{
                                0%{left:-100%;}
                                17%{left:-100%;}
                                33%{left:0;}
                                50%{left:0;}
                                67%{left:-100%;}
                                100%{left:-100%;}
                            }
                            @keyframes layer3Anim{
                                0%{left:100%;}
                                50%{left:100%;}
                                67%{left:0;}
                                83%{left:0;}
                                100%{left:100%}
                            }

.css-slider {
    position: relative;
    margin-top: 60px;
}
.placeHolder {
    width: 100%;
    visibility: hidden;

}
.layer1, .layer2, .layer3 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    background-repeat: no-repeat;
}
.layer1 {
  background-image: url(../Images/css-slider/slide1.jpg);
}
.layer2 {
  background-image: url(../Images/css-slider/slide2.jpg);
  animation: layer2Anim 10s infinite;
}
.layer3 {
  background-image: url(../Images/css-slider/slide3.jpg);
  animation: layer3Anim 10s infinite;
}
.slideOverlay {
    background-image: url(../Images/css-slider/Overlay.png);
    background-attachment: fixed;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.slideOverlay p {
    position: relative;
    font-size: 6vw;
    color: #fff;
    text-shadow: 3px 3px 6px #000;
    text-align: center;
    top: 30%;
}
